<div class="container">
  <div class="row">
    <div class="col-md-9 mx-auto text-center">
      <h3>このサイトについて</h3>
      <h4>動物と動物を愛するすべての人へ</h4>
      <h4>このサイトは動物に関する情報の共有サイトです！</h4>
      <h4>動物、ペットに関するお役立ち情報をどんどん投稿していきましょう!!</h4>
      <%= image_tag 'mikhail-vasilyev-NodtnCsLdTE-unsplash.jpg', class: "img-fluid", alt: "About Page Image" %>
    </div>
  </div>
</div>

