<div class="serch_form" >
  <%= form_with url: admin_tagsearches_search_path,method: :get, local: true do |f| %>
  <table align="center">
      <tr>
        <td><%= f.text_field :keyword, placeholder: 'キーワードまたはタグ' %></td>
        <td><%= f.submit '検索' %></td>
      </tr>
    </table>
  <% end %>
</div>