/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

html {
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  height: 100%;
}

header {
  background-color: black;
}

main {
  padding-top: 80px;
}

.field {
  padding: 10px 0;
}

.action {
  padding: 10px 0;
}

#heading {
  padding: 10px;
}

.button {
  position: relative;
  left: 10px;
}

footer {
  position: sticky;
  top: 100vh;
  width: 100%;
  margin-top: 20px;
  background-color: black;
  color: #fff;
}

// トップページ
.top-background {
  background-image: image-url("pauline-loroy-U3aF7hgUSrk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 150px;
  text-align: center;
}

#top-title{
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
}

#top-newposts {
  padding: 20px;
}

.top-index {
  padding-left: 1000px;
}

/*アバウトページ*/
.about-background {
  background-size: 800px auto;
  background-position: center;
  background-repeat: no-repeat;
  padding: 100px;
  text-align: center;
}

/*投稿一覧*/
.card {
  height: 450px;
}

/*投稿一覧画像*/
.card-img-top {
  width: 260px;
  height: 200px;
  object-fit: cover;
}

/*投稿詳細*/
.post-image {
  margin-bottom: 10px;
}

#comment_index {
  padding: 10px 10px;
}

/*投稿ステータス更新*/
.draft-btn {
  margin: 5px;
  color: white;
  background-color: #1E90FF;
  border-radius: 5px;
}

.submit-btn {
  margin: 5px;
  color: white;
  background-color: #32CD32;
  border-radius: 5px;
}

.inactive-btn {
  margin: 5px;
  color: white;
  background-color: #808080;
  border-radius: 5px;
}

// レスポンシブ
@media (max-width: 1200px) {
  .top-background {
    padding: 80px;
  }
}

@media (max-width: 1200px) {
  .top-index {
    padding-left: 0;
  }
}

@media (max-width: 1200px) {
  footer {
    width: 100%;
  }
}