<div class="container">
  <div class="row">
     <div class="col-md-3">
      <h4 id="heading">会員情報</h4>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= user_image(user, size = "250x200") %>
    </div>
    <div class="col-md-7 offset-1">
      <p><strong>Name</strong></p>
      <p>
        <%= link_to admin_user_path(user) do %>
          <%= user.user_name %>
        <% end %>
      </p>
      <p><strong>Introduction</strong></p>
      <p><%= user.introduction %></p>
    </div>
  </div>
</div>