<div class="container">
  <div class="row">
    <div class="col-md-8">
      <%= render 'admin/users/user_show', user: @user %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h4 id="heading">投稿一覧</h4>
    </div>
  </div>

  <div class="row">
    <%= render "admin/users/mypost", posts: @posts %>
  </div>
  <div class="row">
    <div class="col-md-1 mx-auto">
      <div class="pagination">
        <%= paginate @posts %>
      </div>
    </div>
  </div>
</div>
