<h5 id="heading">会員情報</h5>
<%= image_tag current_user.get_profile_image(150,150) %>
<table>
  <tr>
    <th>Name</th>
    <td><%= current_user.user_name %></td>
  </tr>
  <tr>
    <th>Introduction</th>
    <td><%= current_user.introduction %></td>
  </tr>
</table>
<div><%= link_to "投稿", new_post_path, class: "btn btn-success" %></div>