<div class="container">
  <div class="row">
     <div class="col-md-4">
      <h4 id="heading"><i class="fa-solid fa-paw"></i>会員情報<i class="fa-solid fa-paw"></i></h4>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= user_image(@user, size = "250x200") %>
    </div>
    <div class="col-md-7 offset-1">
      <p><strong><i class="fa-solid fa-paw"></i>Name</strong></p>
      <p>
        <%= link_to user_path(@user) do %>
          <%= @user.user_name %>
        <% end %>
      </p>
      <p><strong><i class="fa-solid fa-paw"></i>Introduction</strong></p>
      <p><%= @user.introduction %></p>
    </div>
  </div>
</div>