<div class="container">
  <div class="row">
     <div class="col-md-3">
      <h4 id="heading">会員情報</h4>
    </div>
  </div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= image_tag @user.get_profile_image(250,250) %>
    </div>
    <div class="col-md-7 offset-1">
      <p>Name</p>
      <p><%= @user.user_name %></p>
      <p>Introduction</p>
      <p><%= @user.introduction %></p>
      <% if current_user %>
        <%= link_to "投稿", new_post_path, class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>