<div class="container mx-auto">
  <div class="row">
    <div class="col-md-8">
      <% if current_user %>
        <%= render 'public/users/user_show', user: @user %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <div class="col-md-9 mx-auto">
      <h4 id="heading">投稿一覧（非公開</h4>
        <% if current_user %>
        <%= link_to "公開一覧", user_path(@user) %> |
        <%= link_to "下書き一覧", users_draft_path %>
      <% end %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
      <%= render "public/users/mypost", posts: @posts %>
    </div>
  </div>
</div>