<h5 id="heading">会員情報</h5>
<%= image_tag current_user.get_post_image(100,100) %>
<table>
  <tr>
    <th>Name</th>
    <td><%= current_user.user_name %></td>
  </tr>
  <tr>
    <th>Introduction</th>
    <td><%= current_user.introduction %></td>
  </tr>
</table>

