<div class="container">
  <div class="row">
    <div class="col-md-2 text-left">
      <%= link_to "このサイトについて", about_path, class: "text-light"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-2 mx-auto">
      アニマルコミュニティ
    </div>
  </div>
</div>