<div class="container">
  <div class="row">
    <div class="col-md-2 text-left">
      <%= link_to "このサイトについて", about_path, class: "text-light"%>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3 mx-auto">
      <i class="fa-solid fa-paw" style="color: #e3e7ee;"></i>アニマルコミュニティ<i class="fa-solid fa-paw" style="color: #e3e7ee;"></i>
    </div>
  </div>
</div>